* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    height: 50vh;
    width: 40%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

header {
    display: flex;
    background-color: lightskyblue;
    flex: 0 0 70%;
    border-radius: 5px;
    padding: 2em;
}