.site-header {
    border-bottom: 3px solid rgb(0, 0, 0);
}

.site-header .site-title {
    padding: 0;
}

.site-header {
    padding:0 0 0.5em 0;
}

header .site-title,
header nav {
    display: inline-block;
}

nav ul li {
    display: inline;
}

nav ul{
    padding: 0 0 0 4em;
    margin: 0;
}

nav a {
    color: #090;
    text-decoration: none;
    padding: 1em;
}