body {
    background-color: lightslategray;
}

p {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    color: whitesmoke;
    background-color: #0F4069;
    border: 2px solid #e6eaef;
    border-top-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    border-bottom-left-radius: 2.5em;
    border-top-right-radius: 2.5em;
}