.site {
    width: 500px;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: lightgray;
    overflow: auto;

}

h2 {
    text-transform: uppercase;
}

.post p {
    padding: 0;
    text-indent: 30px;
    text-align: start;
}