.site {
    max-width: 65em;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.site-header {
    display: flex;
    justify-content: space-between;
}

.navigation-bar ul li {
    display: inline-block;
    padding: 1em;
}

.site-header {
    flex: 0 0 100%;
}
 
.site-content {
    flex: 0 0 80%;
}

.site-aside {
    flex: 1 0 auto;
}